table {
    background: rgba(140, 140, 140, 0.3);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    align-self: center;
    width: 100%;
    max-width: 300px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

h2 {
    width: 50%
}

/*tr:nth-child(even) {*/
/*  background-color: #dddddd;*/
/*}*/