
table {
    background: rgb(var(--primary-background));
    font-family: arial, sans-serif;
    border-collapse: collapse;
    align-self: center;
}

td, th {
    border: 1px solid rgb(var(--color));
    border-radius: 10px;
    text-align: left;
    padding: 8px;
}

.table_title {
    width: 100%;
    border-top: 2px solid var(--text-color);
}