@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --primary-background: 152, 152, 152;
    --hover-color: 141, 141, 141;
    --background: 255, 255, 255;
    --color: 0, 0, 0;
    --main-color: #a4a4a4;
    --primary-color: rgb(109, 109, 109);
    --text-color: black;
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
    --bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}

.night-mod {
    --primary-background: 62, 62, 62;
    --hover-color: 117, 117, 117;
    --background: 19, 19, 19;
    --color: 212, 212, 212;
    --main-color: #5d5d5d;
    --primary-color: rgb(196, 196, 196);
    --text-color: white;
}

/* ©2015 Johannes Jakob
   Made with <3 in Germany */


/* window BEGIN */

a {
    text-decoration: none;
}


/* ©2015 Johannes Jakob
   Made with <3 in Germany */

#app, body, html {
    background: rgb(var(--background));
    color: rgb(var(--color));
    transition: 0.2s;
}

/* window BEGIN */

a {
    text-decoration: none;
}


.window {
    background: #fff;
    width: 50vw;
    height: 75vh;
    margin: auto;
    margin-top: 12.5vh;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
}


.share {
    background: rgb(243, 109, 23);
}


.share:active {
    background: rgb(243, 109, 23);
    border: 1px solid rgb(243, 109, 23);
}

.next_back {
    background: rgb(242, 49, 141);
}


.next_back:active {
    background: rgb(242, 49, 141);
    border: 1px solid rgb(242, 49, 141);
}

.star {
    background: rgb(147, 55, 150);
}


.star:active {
    background: rgb(147, 55, 150);
    border: 1px solid rgb(147, 55, 150);
}


.close {
    background: #ff5c5c;
}

.close:active {
    background: #c14645;
    border: 1px solid #b03537;
}

.minimize {
    background: #ffbd4c;
    border: 1px solid #e09e3e;
}

.minimize:active {
    background: #c08e38;
    border: 1px solid #af7c33;
}

.minimize:active {
    color: #5a2607;
}


.zoom {
    background: #00ca56;
    border: 1px solid #14ae46;
}

.zoom:active {
    background: #029740;
    border: 1px solid #128435;
}

.zoom:active .zoombutton {
    color: #003107;
}


.content {
    padding: 10px;
}

h3 {
    margin-top: 0px;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#nav-btn {
    fill: white;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 7px;
    display: none;
}

.vertical-line {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 35px;
    border-bottom: #F7F7F7 4px solid;
}




.file_component:hover {
    font-size: 20px;
}

bottom_buttons {
    width: 100%;
}

bottom_buttons button {
    display: block;
    width: 100%;
}

/*article {*/
/*    overflow: hidden;*/
/*    margin-top: 30px;*/
/*    outline: none;*/
/*    !*float: left;*!*/
/*    !*margin-left: calc(15%);*!*/
/*    !*margin-left: -moz-calc(15%);*!*/
/*    !*margin-left: -webkit-calc(15%);*!*/
/*    !*margin-right: 15%;*!*/

/*    !*width: calc(82% - 230px);*!*/
/*    !*width: -moz-calc(82% - 230px);*!*/
/*    !*width: -webkit-calc(82% - 230px);*!*/

/*    padding-bottom: 150px;*/
/*    transition: 0.5s;*/
/*}*/

nav {
    display: block;
}

nav ul {
}

nav ul li {
    line-height: 30px;
}

nav ul li a {
    color: #e3e2e2;
}

nav ul li a:hover {
    color: #2b99ff;
}

#products {
    padding-top: 40px;
    font-weight: bold;
    color: #F7F7F7;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 50px;
    font-size: 1.5em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    color: #474958;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
}

@media (max-width: 730px) {
    h2 {
        font-size: 2em;
    }


    header {
        float: left;
        position: relative;
        width: 95%;
        padding-left: 5%;
    }

    nav {
        display: none;
    }

    #nav-btn {
        fill: white;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 7px;
        top: 7px;
        display: block;
        cursor: pointer;
    }

    h1 {
        margin-bottom: 0px;
    }

    .vertical-line {
        margin-top: 20px;
        margin-bottom: 20px;
        display: none;
    }

    #products {
        padding-top: 0;
    }

    /*article {*/
    /*    float: left;*/
    /*    width: 90%;*/
    /*    !*margin-left: 5% !important;*!*/
    /*    !*margin-right: 5%;*!*/
    /*}*/
}

.file_component {
    cursor: default;
    transition: 0.3s;
    border-radius: 5px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.right_clickable {
    cursor: context-menu;
}

.hovering:hover {
    background: rgba(var(--hover-color), 0.6);
}

.drag_over {
    background: lightblue !important;
}


.dropbtn:hover, .dropbtn:focus {
    background: #2980B9;
}

.dropdown {

    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background: rgba(var(--primary-background), 0.8) !important;
    backdrop-filter: blur(30px);
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 400;
    transition: 0.3s;
}


.dropdown-content a:hover {
    background: rgba(var(--hover-color), 0.5) !important;
    backdrop-filter: blur(15px);
    transition: 0.3s;
}

.dropdown-content a {
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--color), 0.3);
    color: rgb(var(--color));
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}

i {
    display: inline-block !important;
    margin-right: 3px;
}

.dropdown button:hover {
    background: #ddd;
}

.show {
    display: block;
}


button {
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 5px;
    margin-left: 5px;
    background: rgba(195, 195, 195, 0.3);
    color: black;
    height: 30px;
    transition: all 0.4s ease-in-out;
}

button:hover {
    background: rgba(195, 195, 195, 0.7);

}

.btn {
    text-align: center;
    position: relative;
    border: none;
    color: rgb(var(--color));
    padding: 0;
    text-decoration: none;
    display: inline-block;
    cursor: grab;
}

.btn:hover {
    background: rgba(var(--hover-color), 0.6);
}
