/* ©2015 Johannes Jakob
   Made with <3 in Germany */


/* window BEGIN */

a {
    text-decoration: none;
}


/* ©2015 Johannes Jakob
   Made with <3 in Germany */

body {
    background: #ecf0f1;
    color: #000;
    font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

/* window BEGIN */

a {
    text-decoration: none;
}


.window {
    background: #fff;
    width: 50vw;
    height: 75vh;
    margin: auto;
    margin-top: 12.5vh;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
}

.custom_title_bar {
    background: #e2e2e2;
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    opacity: 0;
}


.custom_title_bar:hover {
    opacity: 1;
    transition: 0.3s;
}

.buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;
}

.buttons:hover a {
    visibility: visible;
    transition: visibility 0.3s;
}

.barr_button {
    font-size: 11pt;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    line-height: 11px;
    margin-left: 6px;
}

.barr_button_content {
    font-size: 9pt;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
    cursor: default;
}


.share {
    background: rgb(243, 109, 23);
}


.share:active {
    background: rgb(243, 109, 23);
    border: 1px solid rgb(243, 109, 23);
}

.next_back {
    background: rgb(242, 49, 141);
}


.next_back:active {
    background: rgb(242, 49, 141);
    border: 1px solid rgb(242, 49, 141);
}

.star {
    background: rgb(147, 55, 150);
}


.star:active {
    background: rgb(147, 55, 150);
    border: 1px solid rgb(147, 55, 150);
}

.toggle {
    background: rgb(143, 143, 143);
}


.toggle:active {
    background: rgb(143, 143, 143);
    border: 1px solid rgb(143, 143, 143);
}


.close {
    background: #ff5c5c;
}

.close:active {
    background: #c14645;
    border: 1px solid #b03537;
}

.minimize {
    background: #ffbd4c;
    border: 1px solid #e09e3e;
}

.minimize:active {
    background: #c08e38;
    border: 1px solid #af7c33;
}

.minimize:active {
    color: #5a2607;
}


.zoom {
    background: #00ca56;
    border: 1px solid #14ae46;
}

.zoom:active {
    background: #029740;
    border: 1px solid #128435;
}

.zoom:active .zoombutton {
    color: #003107;
}


.content {
    padding: 10px;
}

h3 {
    margin-top: 0px;
}

.mmm {
    background: url("/Users/apple/Desktop/AUTODOX/frontend/icons/maximize.svg");
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#nav-btn {
    fill: white;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 7px;
    display: none;
}

.vertical-line {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 35px;
    border-bottom: #F7F7F7 4px solid;
}


aside {
    overflow: hidden;
    width: 0px;
    margin: 0px;
    position: fixed;
    float: left;
    top: 20px;
    bottom: 0;
    z-index: 299;
    box-shadow: 0px 10px 5px 3px #888;
    transition: 0.5s;
}


article {
    overflow: hidden;
    margin-top: 30px;
    outline: none;
    float: left;
    margin-left: calc(15%);
    margin-left: -moz-calc(15%);
    margin-left: -webkit-calc(15%);
    margin-right: 15%;

    /*width: calc(82% - 230px);*/
    /*width: -moz-calc(82% - 230px);*/
    /*width: -webkit-calc(82% - 230px);*/

    padding-bottom: 150px;
    transition: 0.5s;
}

nav {
    display: block;
}

nav ul {
}

nav ul li {
    line-height: 30px;
}

nav ul li a {
    color: #e3e2e2;
}

nav ul li a:hover {
    color: #2b99ff;
}

#products {
    padding-top: 40px;
    font-weight: bold;
    color: #F7F7F7;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 50px;
    font-size: 1.5em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    color: #474958;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
}

@media (max-width: 730px) {
    h2 {
        font-size: 2em;
    }

    aside {
        width: 0px;
        margin: 0px;
        position: fixed;
        float: left;
        bottom: 0;
        background-color: #e2e2e2;
        z-index: 299;
        box-shadow: 13px 0px 20px #acacac;
        transition: 0.5s;

        /*float: left;*/
        /*width: 95%;*/
        /*padding-left: 5%;*/
        /*position: relative;*/
        /*float: left;*/
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
    }

    header {
        float: left;
        position: relative;
        width: 95%;
        padding-left: 5%;
    }

    nav {
        display: none;
    }

    #nav-btn {
        fill: white;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 7px;
        top: 7px;
        display: block;
        cursor: pointer;
    }

    h1 {
        margin-bottom: 0px;
    }

    .vertical-line {
        margin-top: 20px;
        margin-bottom: 20px;
        display: none;
    }

    #products {
        padding-top: 0;
    }

    article {
        float: left;
        width: 90%;
        margin-left: 5% !important;
        margin-right: 5%;
    }
}

