.editor_title, .text_editor_container {

    flex-shrink: 0;
    flex-grow: 1;
    /*max-width: 80%;*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 4;

    padding-left: calc(96px + env(safe-area-inset-left));
    padding-right: calc(96px + env(safe-area-inset-right));
    transition: 0.3s;
}

.editor_title {
    padding-top: 10vh;
}


.text_editor_container {
    /*max-width: 80%;*/
    padding-bottom: 30vh;
    transition: 0.3s;
}

@media (max-width: 730px) {
    .text_editor_container, .editor_title {
        padding-left: calc(10px + env(safe-area-inset-left));
        padding-right: calc(10px + env(safe-area-inset-left));
        transition: 0.3s;
    }
}


[contenteditable] {
    outline: 0;
    border: 0;
}