
#myUL {
    margin: 10px;
    padding: 0;
    transition: 0.3s;
}

.caret {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.nested {
    opacity: 0;
    height: 0;
    transition: 0.3s;
}

.active {
    opacity: 1;
    height: 20px;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background: lightblue
}

.crate_button {
    left: 0;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    color: black;
    display: inline-block;
    transition: 0.3s;
}

.caret {
    left: 0;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    color: black;
    display: inline-block;
    transition: 0.3s;
}

.caret-down {
    transition: 0.3s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: translateY(-50%) rotate(90deg); /* Safari */
' transform: rotate(90 deg);
}

.dragging_over {
    background: lightblue
}

.dragged {
    opacity: 0.4;
}

.drag_under {
    transition: 0.3s;
}