ul, #myUL {
    list-style-type: none;
    transition: 0.3s;
}

/*#myUL ul {*/
/*    dra: true;*/
/*}*/

#myUL {
    margin: 10px;
    padding: 0;
    transition: 0.3s;
}

.caret {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "ткв";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transition: 0.3s;
}

.caret-down::before {
    transition: 0.3s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
' transform: rotate(90 deg);
}

.nested {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: display 0.3s, visibility 0s, opacity 0.3s linear;
}

.active {
    display: block;
    visibility: visible;
    opacity: 1;
}

.dropdown-content a:hover {
    background: lightblue
}