
#aside-content {
    margin: 10px;
    padding: 0;
    transition: 0.3s;
}

/* add solid think white line bottom under each child of #aside-content */
#aside-content > * {
    border-top: 1px solid var(--main-color);
    margin-top: 10px;
}


.nested {
    opacity: 0;
    display: none;
    transition: 0.3s;
}

.active {
    display: block;
    opacity: 1;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background: lightblue
}


.crate_button {
    color: gray;
    left: 0;
    top: 50%;
    width: 20px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    color: black;
    display: inline-block;
    transition: 0.3s;
}


.create_file {
    right: 0;
    top: 50%;
    width: 20px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    color: black;
    display: inline-block;
    z-index: 299;
    transition: 0.3s;
}

.caret-down {
    transition: 0.3s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: translateY(-50%) rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.dragging_over {
    background: lightblue
}

.dragged {
    opacity: 0.4;
}

.drag_under {
    width: 100%;
    transition: 0.3s;
    height: 3px;
    background: lightblue;
    opacity: 0;
    display: block;
}
